@font-face{
  font-family: 'daily-prophet';
  src:url(./assets/fonts/mugglenews_by_nathanthenerd.ttf);
}

@font-face{
  font-family: 'rokkitt';
  src:url(./assets/fonts/Rokkitt-VariableFont_wght.ttf);
}

@font-face{
  font-family: 'economica';
  src:url(./assets/fonts/Economica-Bold.ttf);
}

p{
  margin: 0;
}

body{
  /* background: url(Old-newspaper-background-1.jpg); */
  background: #dad3c1;
  margin: 0 auto;
  width: 820px;

}

.divisor{
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 130px 1fr 150px;
  position: absolute;
  align-items: center;
}

.divisor.top{
  top:17px;
}
.divisor.bottom{
  bottom: 17px;
}

.divisor span{
  font-size: 8px;
  margin-right: 5px;
  text-align: center;
}

hr{
  width: 100%;
  height: 0;
  border: 2px solid black;
}

header{
  position: relative;
  display: grid;
  grid-template-columns: 0.3fr 2fr;
  height: 162px;
}

.logo{
  width: 120px;
  /* filter: invert(13%) sepia(48%) saturate(17%) hue-rotate(21deg) brightness(99%) contrast(94%); */
}

img{
  width: 100%;
}

.title{
  position: relative;
  display: grid;
  justify-items: center;
  margin-top: 24px;
}


h1{
  margin: 0;
  font-size: 90px;
  color: #2a2a29;
  font-family: daily-prophet;
}

.prophet_letter{
  color: #c6bd20;
  text-shadow: 1px 1px 2px black;
}

.subtitle{
  position: absolute;
  font-family: 'Rokkitt', serif;
  top: 88px;
  display: flex;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  text-transform: uppercase;
  font-size: 14px;
}

.star{
  width: 18px;
}

.announces{
  display: grid;
  grid-template-columns: 3fr repeat(4, 1fr);
}


.rewardContainer{
  background-color: black;
  padding: 3px;
}

.reward{
  display: flex;
  background-color: black;
  color: white;
  border: 2px solid white;
}

.rewardValue{
  display: flex;
  font-family: economica;
  width: 50%;
  font-size: 60px;
  text-shadow: 1px 1px 0 white, 
                2px 2px 0 white;
  color: #dad3c1;
}

.rewardValue p{
  -webkit-text-stroke: 1px red;
}

.currency{
  /* width: 10px; */
  font-size: 28px;
  writing-mode: vertical-lr;
  /* transform: rotate(90deg); */
}

.rewardName{
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.rewardNameText{
  width: 100%;
  font-size: 28px;
  text-transform:uppercase;
}

.rewardNameText2{
  width: 48%;
  font-size: 28px;
  text-transform:uppercase;
}

.placeToBeRewarded{
  width: 80%;
  text-align: center;
  width: 52%;
  font-size: 12px;
}

.weather p, .zodiac p{
  font-size: 10px;
}
.weather h5, .zodiac h5{
  margin: 0;
}


